body {
  margin: 0;
}

#graph {
  width: 100vw;
  height: 100vh;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wrapper {
  position: absolute;
  min-width: 110px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.wrapper .menu {
  padding: 0px 5px;
}

.content .item {
  list-style: none;
  font-size: 22px;
  height: 50px;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 0 5px 0 10px;
}

.content .item:hover {
  background: #f2f2f2;
}

.content .item span {
  margin-left: 8px;
  font-size: 19px;
}

.content .sub {
  position: relative;
  justify-content: space-between;
}

.sub .sub-menu {
  position: absolute;
  background: #fff;
  min-width: 100px;
  right: -110px;
  top: 0;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
}

.sub:hover .sub-menu {
  opacity: 1;
  pointer-events: auto;
}

.input_menu {
  position: absolute;
  min-width: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.input_menu form {
  padding: 15px;
}

.right {
  text-align: right;
  float: right;
}